<link rel="stylesheet" href="css/main.css" type="text/css"/>
<script src="js/main.js" type="text/javascript"></script>
<html>
  <div id="carousel">
    <% @objects.each do |t| %>
        <% if t == @objects.first %>
          <img class="item show" src="<%= t['url']  %>" alt="<%= t['name']  %>"/>
        <% else %>
          <img class="item" src="<%= t['url']  %>" alt="<%= t['name']  %>"/>
        <% end %>
    <% end %>
  </div>

  <script>
      var items = document.querySelectorAll('#carousel .item');
      var carousel = document.getElementById('carousel');
      carousel.onmouseover = function() {playPause()};
      carousel.onmouseout = function() {playPause()};
      carousel.onclick = function () {nextItem()};
  </script>
</html>